services:
    db:
        image: postgres:17
        restart: unless-stopped
        # Берём учётные данные из .env.dev
        env_file:
            - .env.dev
        volumes:
            - pg_data:/var/lib/postgresql/data
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
            interval: 10s
            timeout: 5s
            retries: 5
        # ports:
            # опционально: чтобы подключаться с хоста psql-клиентом
            # - "5432:5432" # наружный порт/внутренний порт, 5432 по умолчанию для Postgres
        mem_limit: 384m
        memswap_limit: 384m

    bot:
        build:
            context: .
            dockerfile: Dockerfile.dev
        container_name: portfolio_bot_dev # изменить имя контейнера для другого проекта
        restart: unless-stopped
        # Используем специфичный env файл для dev
        env_file:
            - .env.dev
        depends_on:
            db:
                condition: service_healthy
        command: ["python", "run_bot.py"]
        mem_limit: 384m
        memswap_limit: 384m

volumes:
    pg_data:
