services:
    db:
        image: postgres:17
        restart: unless-stopped
        # Берём учётные данные из .env.prod
        env_file:
            - .env.prod
        volumes:
            - pg_data:/var/lib/postgresql/data
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
            interval: 10s
            timeout: 5s
            retries: 5
        # ports:
            # - "5432:5432" # наружный порт/внутренний порт, 5432 по умолчанию для Postgres
        mem_limit: 384m
        memswap_limit: 384m

    bot:
        image: ghcr.io/<user>/<name_repository>:latest # изменить образ для другого проекта
        # пример заполнения ghcr.io/glom-ruvicon/portfolio_bot:latest
        # ghcr.io — GitHub Container Registry (регистри образов);
        # glom-ruvicon — owner (user/org) на GitHub;
        # portfolio_bot — имя репозитория/образа;
        # latest — тег
        container_name: exemple_bot_prod # изменить имя контейнера для другого проекта
        restart: unless-stopped
        # Используем специфичный env файл для prod
        env_file:
            - .env.prod
        depends_on:
            db:
                condition: service_healthy
        command: ["python", "run_bot.py"]
        mem_limit: 384m
        memswap_limit: 384m
        # В проде не монтируем локальную папку — используем собранный образ

volumes:
    pg_data:
